* {
    margin: 0;
}

h1, h2, h3, h4 {
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(40, 40, 40, 0.7);
    color: white;
    min-height: 10vh;
    max-height: 10vh;
}


.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-links li {
    color: white;
    list-style: none;
    padding: 30px 70px 30px 70px;
    font-size: 20px;
}

.listed-text {
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    list-style: none;
    font-size: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 0.3s;
    float: top;
}


.flex-container > .box {
    background-color: rgba(40, 40, 40, 0.9);
    width: 400px;
    height: max-content;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 30px;
    transition: 0.3s;
    border-radius: 30px;
}

.box:hover {
    background-color: rgba(40, 40, 40, 1);
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

#heroes {
    background-image: url("../rsc/heroes-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    flex: 1;
    overflow: auto;
}

.cover {
    display: block;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.loading {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    width: 92%;
    text-align: center;
    padding: 60px;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(40, 40, 40, 0.6);
}

a {
    text-decoration: none;
    color: white;
    font-family: fantasy;
    font-size: 34px;
    padding: 0px 12px 0px 12px;
    transition: 0.4s;
    background-color: rgba(255,255,255,0.2);
}

a:hover {
    background-color: red;
}

#img-no-hover {
    background-color: transparent;
}