* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.loading {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  width: 92%;
  text-align: center;
  padding: 60px;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(40, 40, 40, 0.6);
}

#img-no-hover {
  background-color: transparent;
}

.font-face-hl {
 font-family: "Homelander3D";
}

.loading-placeholder {
  overflow: hidden;
  background: #000;
  position: relative;
  animation-duration: 1.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeholderAnimate;
  background: #f1f4f7;
  background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
  background-size: 1300px;
}

.loading-placeholder .hero-pic{
  background-image: url("../rsc/placeholder-img.png");
  background-size: cover;
  background-position: center;
  width: 225px;
  height: 300px;
  opacity: .1;
}

@keyframes placeholderAnimate {
    0%{ background-position: -650px 0; }
    100%{ background-position: 650px 0; }
}
