* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.loading {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  width: 92%;
  text-align: center;
  padding: 60px;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(40, 40, 40, 0.6);
}

#img-no-hover {
  background-color: transparent;
}

.font-face-hl {
 font-family: "Homelander3D";
}
