.hero-card {
  display: flex;
  background-color: #372d2d;
  box-shadow: 0px 6px 14px 8px rgba(0,0,0,0.25);
  border-radius: 5px;
  overflow: hidden;
  color: #fff;
  width: 100%;
  height: 300px;
  margin: 10px;
  position: relative;
}

.hero-pic {
  display: block;
  background-size: cover;
  background-position: center;
  height: 100%;
  z-index: 2;
}

.hero-card-bg {
  position: absolute;
  width: 100%;
  opacity: .15;
}

.hero-info {
  width: 100%;
  display: flex;
  font-size: 30px;
  flex-direction: column;
  z-index: 2;
  padding: 10px;
  position: relative;
}

.hero-info h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.btn-container {
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.more-info-btn {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 0;
  width: 85px;
  height: 35px;
  font-size: 20px;
  font-family: ExonRegular;
  cursor: pointer;
  transition: all .2s ease;
}

.more-info-btn:hover {
  transform-origin: center;
  transform: scale(1.1);
}
