#heroes {
  background-image: url("../rsc/heroes-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: ExonRegular;
}

.heroes-page {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.card-container {
  padding:  0 65px 25px 65px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-auto-rows: auto;
  column-gap: 40px;
  row-gap: 15px;
}

.page-title {
  color: #fff;
  margin: 25px 0;
  font-size: 30px;
  padding: 0 75px;
  width: 100%;
}

.pagination-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.pag-btn {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
  border-radius: 0;
  width: 115px;
  height: 35px;
  font-size: 20px;
  font-family: ExonRegular;
  cursor: pointer;
  transform-origin: left;
  transform: skew(-8deg);
  margin: 0 20px;
  transition: all .2s ease;
}

.single-pag-btn {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
  height: 35px;
  font-size: 25px;
  padding: 0 10px;
  font-family: ExonRegular;
  cursor: pointer;
  transform-origin: left;
  transform: skew(-8deg);
  margin: 0 2px;
  transition: all .2s ease;
  opacity: .8;
}

.single-pag-btn:hover {
  opacity: 1;
  transform-origin: center;
  transform: scale(1.15) skew(-8deg);
}

.pag-btn:hover {
  opacity: 1;
  transform-origin: left;
  transform: scale(1.1) skew(-8deg);
}

.active {
  opacity: 1;
  transform-origin: center;
  transform: scale(1.15) skew(-8deg);
}

.hero-component {
  position: fixed;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

}

.hero-details-overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0 ,0 ,0 ,.7);
}
