#content-new {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 0.3s;
}

#colorise-new {
    background-image: url("../rsc/new-hero-bg.jpg") ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    flex: 1;
    overflow: auto;
}
.create-hero-title {
    padding-top: 50px;
}

#middle {
    position: relative;
    padding: 40px;
    width: 80%;
    color: white;
    font-size: 40px;
}

label {
    float: left;
}

.inputs input{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.custom-select {
    position: relative;
    width: 30%;
}
